@import "./sidebar.css";

html { height: 100%; }

body {
  margin: 0;
  padding: 0;

  display: flex;
  height: 100%;

  overflow: hidden;
}

#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.layer-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 6px;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-right: 1px; /* Add margin to the right */
}

/* override "top" value of 3px for aligning with switch text */
.switch {
  top: unset
}

.popup-image-container {
  margin-top: 10px;
  text-align: center;
}

.popup-image {
  max-width: 100%;
  height: auto;
}

.flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.right {
    right: 0px;
}

.bookmarks div[style*="font-weight: bold"] {
  margin-top: 10px; /* Adjust this value to increase/decrease the space */
}

#loading {
  /* Chosen to contrast with the sidebar colors, since it's rendered above the sidebar on small enough viewports. */
  background: white;

  border-radius: 4px;
  padding: 1rem;
  margin: auto;
  z-index: 999; /** Needs to be larger than the map, sidebar, and other future elements. */
}


/* mapbox overrides */
button.mapboxgl-popup-close-button {
  padding: 4px 8px;
  font-size: 24px;
}

#tile-style-control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
}

#tile-style-control::after {
  content: "^";
  position: absolute;
  top: -16px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 100%;
  padding: 8px;
  background-color: lightgray;
  font-weight: 700;
}

#tile-style-control button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 3;
}

#tile-style-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  opacity: 0;
  transition: all ease-in-out 500ms;
  z-index: 2;
}
#tile-style-menu.visible {
  opacity: 1;
  transform: translateY(-100%);
}

#tile-style-menu div {
  display: flex;
}
#active-label::first-letter {
  text-transform: uppercase;
}

.section-label {
  font-weight: bold;
  text-align: center;
	color: gray;
}

.gap-6 {
  gap: 6px;
}

/* SEARCH BAR */
#search-bar-container {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  padding: 8px 16px;
  background-color: white;
  border-radius: 16px;
}
#search-bar-container input {
  border: none;
  border-bottom: 2px solid gray;
  z-index: 3;
}
#search-bar-container button {
  padding: 4px 8px;
  margin-right: -8px;
}
#search-bar-container button svg {
  height: 24px;
  width: 24px;
}
#search-bar-container #search-bar-error {
  position: absolute;
  top: 32px;
  padding: 16px;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity ease-in-out 500ms;
}
/* END SEARCH BAR */
