body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.layer-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
  }

.bookmarks {
  position:relative;
  right: 10px;
  background-color: rgb(227,229,230);
  padding: 10px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  z-index: 1;
  width:100%;
  height:100%;
  font-size: 14px;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-right: 1px; /* Add margin to the right */
}

.switch-container div:last-child {
  margin-left: 1px; /* Add margin to the left for the text */
}

.popup-image-container {
  margin-top: 10px;
  text-align: center;
}

.popup-image {
  max-width: 100%;
  height: auto;
}

.rounded-rect {
    background: rgb(227,229,230);
    border-radius: 10px;
    box-shadow: 0 0 50px -25px black;
    top:1px;
}

.flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.right {
    right: 0px;
}

.sidebar-content {
    position: absolute;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.sidebar-toggle {
    position: absolute;
    width: 2em; /* Increased width */
    height: 2.5em; /* Increased height */
    font-size: 1.5em; /* Increased font size */
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    top:auto;
    left:auto;
}

.sidebar-toggle.right {
    left: -1.8em;
}

.sidebar-toggle:hover {
    color: #0aa1cf;
    cursor: pointer;
}

.sidebar {
    transition: transform 1s;
    z-index: 1;
    width: 215px;
    height: 300px;
}

.right.collapsed {
    transform: translateX(215px);
}

.bookmarks div[style*="font-weight: bold"] {
  margin-top: 10px; /* Adjust this value to increase/decrease the space */
}

